body{
  background: #333;
}

.myFormToDo{
  width: 30%;
  margin: 5% auto;
  background: #fff;
  padding: 2% 5%;
  border-radius: 15px;
}

.myFormToDo h1{
  text-align: center;
}

.myFormToDo input[type="text"]{
  width: 75%;
  height: 35px;
  padding: 0px 2%;
}

.myFormToDo input[type="submit"]{
  background: green;
  height: 35px;
  width: 15%;
  color: #fff;
  border: none;
  border-radius: 25px;
}
