body{
  background: #333;
}

.myFormToDo{
  width: 30%;
  margin: 5% auto 0px auto;
  background: #fff;
  padding: 2% 5%;
  border-radius: 15px;
}

.myFormToDo h1{
  text-align: center;
}

.myFormToDo input[type="text"]{
  width: 75%;
  height: 35px;
  padding: 0px 2%;
}

.myFormToDo input[type="submit"], button{
  background: green;
  height: 35px;
  width: 15%;
  color: #fff;
  border: none;
  border-radius: 25px;
}

#display{
  background: #fff;
  width: 30%;
  margin: 0% auto;
  background: #fff;
  padding: 2% 5%;
  border-radius: 15px;
}

#display p{
  width: 96%;
  padding: 4% 2%;
  border-left: 2px solid black;
  font-size: 16px;
  cursor: pointer;
}

p button{
  float: right;
  position: relative;
  top: -8px;
  background: red;
}
