body{
  margin: 0px;
  padding: 0px;
  font-family: palatino;
  background: #333;
}

header{
  background: #333;
  width: 100%;
  float: left;
  text-align: center;
  color: #fff;
  padding-top: 4%;
}

header nav{
  background: #fff;
  height: 50px;
}

header nav ul{
  padding: 1%;
}

header nav ul li{
  display: inline;
  color: #333;
  padding: 0px 3%;
}

.banner{
  width: 100%;
  float: left;
}

.banner img{
  width: 100%;
}

main{
  width: 100%;
  float: left;
}

.col-half{
  width: 56%;
  float: left;
  background: #fff;
  margin: 2% 5%;
  padding: 2% 2%;
}

.col-fill{
  width: 16%;
  float: left;
  background: #fff;
  margin: 2% 5%;
  padding: 2% 2%;
}

.col-fill input[type="text"]{
  height: 45px;
  width: 100%;
}
