h1{
  color: #565a8c;
}

p{
  font-size: 20px;
}

.box{
  background-image: url(./assests/npower.png);
}

a:visited{
  color: red;
}

a:focus{
  color: orange;
}

.box, .box1, .box2, .box3, .box4, .box5, .box6{
  width: 410px;
  border: 2px solid #ddd;
  margin: 10px;
  padding: 5px;
  float: left;
}

table{
  border-bottom-style: dotted;
}

table tr:nth-child(even){
  background: #ffc;
  color: #000;
}
