body{
  padding: 0px;
  margin: 0px;
  color: #000;
  text-align: center;
}

input[type="text"], input[type="password"]{
  width: 50%;
  height: 45px;
  padding: 5px 2%;
  font-size: 24px;
  margin-bottom: 2%;
}

input[type="submit"]{
  width: 10%;
  height: 60px;
  background: green;
  color: #fff;
  border: none;
  position: relative;
  top: -1px;
  font-size: 24px;
}

.valid_section{
  font-size: 24px;
}

.to-do{
  background: #fff;
  width: 70%;
  margin: 0px auto;
  padding: 2% 5%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.to-do input[type="text"], .to-do input[type="password"]{
  width: 80%;
}
